@model ArticleDto

@{
    //var item = ViewData["model"] as ArticleDto;
    //var item = ViewBag.Model;
    ViewData["Title"] = "Article details";
}

<div>
    <h3>
        @Model.Title
    </h3>
    <h5>
        @Model.Category
    </h5>
    <p>
        @Model.Text
    </p>
    <h6>
        @Model.PublicationDate
    </h6>
</div>
<hr>
<div class="btn-group" role="group">
    @Html.ActionLink("Edit", "Edit",
        "Article", new{id=Model.Id},
    new{@class="btn btn-warning"})
    <button type="button" class="btn btn-danger">Delete</button>
</div>

@*@Html.DisplayForModel();*@

@*<div>
    <h3>Comments</h3>
    @foreach (var comment in Model.Comments)
    {
        <p>comment</p>
    }
</div>*@
