@model IEnumerable<ArticleDto>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if(Model.Any()){
    @foreach (var item in Model)
    {
        <div>
            <i>
                @Html.DisplayFor(modelItem => item.Id)
            </i>
            <h3>
                @Html.DisplayFor(modelItem => item.Title)
            </h3>
            <h5>
                @Html.DisplayFor(modelItem => item.Category)
            </h5>
            <p>
                @Html.DisplayFor(modelItem => item.ShortSummary)
            </p>
            <h6>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </h6>
        </div>
    }
}

@section CssStyles
{
    <style>
        h1{
            color: red;
        }
    </style>
}

@PaginatorHelper.GeneratePaginator()

