@using ASP.NET.MVC_Exprtiment.Core.DataTransferObjects;
@model BandDto;

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>
        @Model.Name
    </h1>
    <h6>
        @Model.Id
    </h6>
    <h3>
        Country: @Model.Country
    </h3>
    <h6>
        Date of creation: @Model.DateOfCreation
    </h6>
    <h4>
        Main infirmation: @Model.MainText
    </h4>
    <hr>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        @Html.ActionLink("Delete", "Delete", "Band", new {id = Model.Id}, new {@class = "btn btn-danger"})
        @Html.ActionLink("Edit", "Edit", "Band", new {id = Model.Id}, new {@class = "btn btn-warning"})
    </div>
</div>

@section CssStyles
    {
    <style>
        h1 {
            color: red;
            text-align: center;
        }
    </style>
}