@using ASP.NET.MVC_Exprtiment.Core.DataTransferObjects;
@model BandDto;

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>
        @Model.Name
    </h1>
    <h6>
        @Model.Id
    </h6>
    <h3>
        Country: @Model.Country
    </h3>
    <h6>
        Date of creation: @Model.DateOfCreation
    </h6>
    <h4>
        @Model.MainText
    </h4>
    <hr>
    <br>
</div>

@section CssStyles
    {
    <style>
        h1 {
            color: red;
            text-align: center;
        }
    </style>
}